option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8081
    MONGODB_URI: mongodb+srv://username:password@cluster.mongodb.net/database
    CLOUDINARY_CLOUD_NAME: your-cloud-name
    CLOUDINARY_API_KEY: your-api-key
    CLOUDINARY_API_SECRET: your-api-secret
    FRONTEND_URL: https://your-domain.com
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
    NodeVersion: 18.17.0
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: /static
    /uploads: /uploads
    /cloud-storage: /cloud-storage
